azure-ai-formrecognizer
azure-search-documents
azure-storage-blob
azure-identity
python-multipart
openai
tiktoken
python-dotenv
numpy
PyPDF2
fastapi
uvicorn
chainlit 
aiohttp 
requests
langchain==0.3.23
langchain-community==0.3.21
langchain_openai==0.3.12
langchain_mongodb==0.6.0
pymongo
matplotlib
pandas
bertopic
scikit-learn
sentence_transformers
openpyxl
hf_xet
moviepy
azure-cognitiveservices-speech
azure-search-documents
Spire.Presentation