azure-ai-formrecognizer
azure-search-documents
azure-storage-blob
azure-identity
python-multipart
openai
tiktoken
python-dotenv
numpy
PyPDF2
fastapi
uvicorn
chainlit 
aiohttp 
requests
langchain
langchain-community
langchain_openai
langchain_mongodb
pymongo
matplotlib
pandas
bertopic
scikit-learn
sentence_transformers
openpyxl
hf_xet